@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/selection-bg1.png);
    background-size: cover;
    background-color: #1B6E70;
}

.page-1 {
    text-align: center;
    background-color: #1B6E70;
    padding: 16px 0px;
}

.humssContainer {
    display: flex;
    justify-content: center;
    width: 958px;
    height: 122px;
    margin: auto;
    background-color: #FFCB9E;
    border-radius: 50px;
}

.humssTitle {
    display: flex;
    align-items: center;
    margin-left: 51.89px;
}

.humssPic img {
    margin-left: 35.92px;
}

.humssTitle h1 {
    font-weight: 500;
    font-style: italic;
    font-size: 36px;
    width: 476.34px;
    height: 44px;
    line-height: 44px;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

/* End of Page 1 */

.page-2 {
    margin: auto;
}

.p2-box1 {
    width: 1318px;
    height: 980px;
    margin: 16px auto;
}

.p2-col {
    width: 1318px;
    height: 440px;
    display: flex;
    align-items: center;
    line-height: 28px;
    margin-bottom: 23px;
}

.page-2 p {
    font-family: 'Inter', sans-serif;
    color: black;
    font-style: italic;
    font-weight: 500;
    font-size: 23px;
    text-align: justify;
}

.col2 {
    display: flex;
    justify-content: center;
}

.collegeDegree {
    width: 518px;
    height: 453px;
}

.collegeDegree p,
.collegeDegree li {
    font-size: 20px;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 24px;
    color: black;
}

.collegeDegree ul {
    padding: 0px 33px;
}

.themes {
    width: 603px;
    height: 517px;
    margin-left: 45px;
}

.themes p {
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
}

/* STRAND LINKS */

.p2-box2 {
    margin-top: 33px;
}

.p2-box2 h1 {
    text-align: center;
    margin-bottom: 24px;
}

.p2-box2 .strandLinks {
    text-align: center;
}

.strandLinks {
    display: flex;
    justify-content: center;
}

.strandLinks img {
    border: 1px solid black;
}

.strandLinks p {
    width: 289px;
    height: 77px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    margin: 25px auto;
    font-style: normal;
}

.strandLinks a {
    cursor: pointer;
}

.strandLinks div {
    margin-left: 14px;
    margin-right: 14px;
}

html {
    scroll-behavior: smooth;
}