@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.title p {
    text-align: center;
    font-size: 48px;
    padding-top: 64px;
    -webkit-text-stroke: 1px black;
    color: #198D8F;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.stem {
    display: flex;
    margin: 64px auto;
    justify-content: center;
}

.stem img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-right: 60px;
}

.stem-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 250px;
    background-color: #FEBD59;
    border-radius: 40px;
    align-items: center;
    padding: 32px;
    justify-content: center;
}

.stem-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white !important;
    -webkit-text-stroke: 1px black;
}

.stemBgContainer {
    width: 363px;
    height: 56px;
    background-color: #FFDE59;
    border-radius: 40px;
    display: flex;
}

.stem-m {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}

.stem p,
.stem a {
    color: black;
}

.stem button {
    color: black;
    background-color: #FFCB9E;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 54px;
    width: 189px;
    font-size: 27px;
    line-height: 32.68px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 0px;
}

.stem a {
    margin-top: 32px;
}

.stem button:hover {
    background-color: #fda456;
    color: white;
    box-shadow: #00000059 3px 3px 10px;
}

.stem button:focus {
    transform: scale(.95);
}

.abm {
    display: flex;
    justify-content: center;
    background-color: #1B6E70;
    padding: 64px;
}

.abm img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 60px;
}

.abm-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 250px;
    background-color: #FEBD59;
    border-radius: 40px;
    align-items: center;
    padding: 32px;
    justify-content: center;
}

.abm-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white !important;
    -webkit-text-stroke: 1px black;
}

.abmBgContainer {
    width: 363px;
    height: 56px;
    background-color: #FFDE59;
    border-radius: 40px;
    display: flex;
}

.abm-m {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}

.abm p,
.abm a {
    color: black;
}

.abm button {
    color: black;
    background-color: #FFCB9E;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 54px;
    width: 189px;
    font-size: 27px;
    line-height: 32.68px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.abm a {
    margin-top: 32px;
}

.abm button:hover {
    background-color: #fda456;
    color: white;
    box-shadow: #00000059 3px 3px 10px;
}

.abm button:focus {
    transform: scale(.95);
}

.humss {
    display: flex;
    margin: 64px auto;
    justify-content: center;
}

.humss img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-right: 60px;
}

.humss-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 250px;
    background-color: #FEBD59;
    border-radius: 40px;
    align-items: center;
    padding: 32px;
    justify-content: center;
}

.humss-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white !important;
    -webkit-text-stroke: 1px black;
}

.humssBgContainer {
    width: 363px;
    height: 56px;
    background-color: #FFDE59;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.humss-m {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}

.humss p,
.humms a {
    color: black;
}

.humss button {
    color: black;
    background-color: #FFCB9E;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 54px;
    width: 189px;
    font-size: 27px;
    line-height: 32.68px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.humss a {
    margin-top: 32px;
}

.humss button:hover {
    background-color: #fda456;
    color: white;
    box-shadow: #00000059 3px 3px 10px;
}

.humss button:focus {
    transform: scale(.95);
}

.gas {
    display: flex;
    justify-content: center;
    background-color: #1B6E70;
    padding: 64px;
}

.gas img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 60px;
}

.gas-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 250px;
    background-color: #FEBD59;
    border-radius: 40px;
    align-items: center;
    padding: 32px;
    justify-content: center;
}

.gas-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white !important;
    -webkit-text-stroke: 1px black;
}

.gasBgContainer {
    width: 363px;
    height: 56px;
    background-color: #FFDE59;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gas-m {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}

.gas p,
.gas a {
    color: black;
}

.gas button {
    color: black;
    background-color: #FFCB9E;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 54px;
    width: 189px;
    font-size: 27px;
    line-height: 32.68px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gas a {
    margin-top: 32px;
}

.gas button:hover {
    background-color: #fda456;
    color: white;
    box-shadow: #00000059 3px 3px 10px;
}

.gas button:focus {
    transform: scale(.95);
}

.und {
    display: flex;
    margin: 64px auto;
    justify-content: center;
}

.und img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-right: 60px;
}

.und-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 250px;
    background-color: #FEBD59;
    border-radius: 40px;
    align-items: center;
    padding: 32px;
    justify-content: center;
}

.und-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white !important;
    -webkit-text-stroke: 1px black;
}

.undBgContainer {
    width: 363px;
    height: 56px;
    background-color: #FFDE59;
    border-radius: 40px;
    display: flex;
}

.und-m {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}

.und p,
.und a {
    color: black;
}

.und button {
    color: black;
    background-color: #FFCB9E;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 54px;
    width: 189px;
    font-size: 27px;
    line-height: 32.68px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.und a {
    margin-top: 32px;
}

.und button:hover {
    background-color: #fda456;
    color: white;
    box-shadow: #00000059 3px 3px 10px;
}

.und button:focus {
    transform: scale(.95);
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 90%;
    border-radius: 20px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}